{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="flex justify-center">
    <h2 class="text-2xl font-semibold text-center bg-gray-300/90 py-2 px-6 rounded-md shadow-md">
      {% if user.is_authenticated and has_tasks %}
        Задачи, которые ждут вас:
      {% else %}
        Последние задачи над которыми мы работаем:
      {% endif %}
    </h2>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 px-4 mt-10">
    {% for task in tasks %}
      <div class="bg-white rounded-xl shadow-lg p-6 min-h-[280px] flex flex-col justify-between hover:shadow-2xl transition">
        <div>
          <h5 class="text-lg font-bold mb-2">{{ task.name }}</h5>
          <p class="text-sm text-gray-700 mb-2">{{ task.description|truncatechars:100 }}</p>
        </div>
        <div class="mt-4 text-sm text-gray-600">
          <p><strong>Type:</strong> {{ task.task_type.name }}</p>
          <p><strong>Deadline:</strong> {{ task.deadline|date:"Y-m-d H:i" }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
